@import url(reset.css);

body{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

.clear-fix{
    clear: both;
}
.clear-fix::after{
    display: block;
    content: "";
    clear: both;
}


a{
    text-decoration: none;
    
}


#top-row a{
    color: rgba(0,0,0,.87);
    font-size: 13px;
    line-height: 24px;
}

#top-row{
    padding: 6px;
    height: 48px;
    /* background-color: aqua; */
    display: flex;
    justify-content: end;
    
}
#top-row a{
    display: block;
}
#top-row>div{
    display: flex;
}
#top-row>div>.col{
    display: flex;
    align-items: center;

}
#top-row>div>.col>a{
    padding-left: 15px;
    align-items: center;
}
#top-row>div>.col-1{
    padding-right: 15px;
}
#top-row>div>.col-2 svg{
    width: 24px;
    height: 24px;
    fill: #5f6368;
}
#top-row>div>.col-2>div{
    width: 40px;
    height: 40px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#top-row>div>.col-2>div:hover{
    background-color: rgba(60,64,67,.08);
}
#top-row>div>.col-2>a:last-of-type{
    font-size: 13px;
    
    padding: 8px;
    border: 1px solid transparent;
}
#top-row>div{
    padding-right: 4px;
}

#top-row .button{
    padding: 0px 23px;
    background-color: rgb(26, 115, 232);
    display: flex;
    height: 36px;
    color: #fff;
    width: 96px;
    margin-right: 8px;
    font-weight: 500;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

}
#top-row .button:hover{
    background-color: #1b66c9;
    box-shadow: 0 1px 3px 1px rgba(66,64,67,.15),0 1px 2px 0 rgba(60,64,67,.3);
}
#g-img{
    display: flex;
    justify-content: center;
}
#search-bar{
    padding: 20px;
    display: flex;
    
    justify-content: center;
}
#search-bar-wrapper>.row-1{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 0 10px;
}
#search-bar-wrapper{
    width: 584px;
}
#search-bar-wrapper>.row-1{
    display: flex;
    align-items: center;
    width: 100%;
    flex-shrink: 1;
    
    
}
#search-bar-wrapper>.row-1 input{
    height: 34px;
    border: none;
    display: block;
    width: 100%;
}
#search-bar-wrapper .svg{
    width: 33px;
    height: 20px;
    line-height: 20px;
    padding-right: 13px;
    flex-shrink: 0;
    
}
#search-bar-wrapper .svg>svg{
    fill:#9aa0a6;
}

#search-bar-wrapper .svg-close{
    width: 24px;
    height: 44px;
    display: flex;
    align-items: center;
    fill:#9aa0a6;
    flex-shrink: 0;
}
#search-bar-wrapper .col-1{
    flex-grow: 1;
    flex-basis: 484px;
}

#search-bar-wrapper>.row-1 input:focus{
    outline: none;
}
#search-bar-wrapper>.row-2{
    padding-top: 16px;
    display: flex;
    justify-content: center;
}
#search-bar-wrapper>.row-2>button{
    height: 36px;
}
#search-bar-wrapper>.row-2 button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
}

#search-bar-wrapper>.row-2 button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
#language-bar{
    display: flex;
    justify-content: center;
    height: 156px;
}
#language-bar a{
    color: #1a0dab;
    padding: 0 3px;
}

#language-bar a:hover{
    text-decoration: underline;
}

footer{
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer>.country{
    padding: 15px 30px;
    /* font-size: 20px; */
    color: #70757a;
}
footer>.col-2{
    padding: 0 20px;
}

footer>.col-2 a{
    display: block;
    padding: 15px;
    color: #70757a;

}
footer>.col-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer>.col-2>div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#aside{
    position: absolute;
    width: 318px;
    height: 586px;
    visibility: hidden;
    background-color: white;
    top: 50px;
    right: 0;
}
body{
    position: relative;
}

#aside>nav{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    padding: 10px 14px;
}


#aside>nav>li{
    text-align: center;
}



#aside>nav>li>a{
    display: inline-block;
    color: #202124;
    width: 84px;
    padding: 6px;
    border-radius: 8px;
    position: relative;
}
#aside>nav>li>a:hover{
    background-color: #e8f0fe;

}

#aside>nav>li>a>div{
    position: relative;
    padding: 6px;
    text-align: center;
    font-size: 14px;
    left:3px;
}
#aside>nav>li>a>div:first-of-type{
    width: 64px;
    height: 64px;
    background-image: url(../image/google-products.png);
    background-position: right;
    
}

#aside>nav>li:first-of-type>a>div:first-of-type{
    background-position: 0 -2622px;
}
#aside>nav>li:nth-of-type(2)>a>div:first-of-type{
    background-position:  0px -1035px;
}

#aside>nav>li:nth-of-type(3)>a>div:first-of-type{
    background-position:  0px -1311px;
}
#aside>nav>li:nth-of-type(4)>a>div:first-of-type{
    background-position:  0px 0px;
}



#aside>nav>li:nth-of-type(5)>a>div:first-of-type{
    background-position:0px -759px;
}

#aside>nav>li:nth-of-type(6)>a>div:first-of-type{
    background-position: 0px -2760px;
}

#aside>nav>li:nth-of-type(7)>a>div:first-of-type{
    background-position: 0px -1104px;
}

#aside>nav>li:nth-of-type(8)>a>div:first-of-type{
    background-position: 0px -2691px;
}

#aside>nav>li:nth-of-type(9)>a>div:first-of-type{
    background-position: 0px -138px;
}

#aside>nav>li:nth-of-type(10)>a>div:first-of-type{
    background-position: 0px -1587px;
}

#aside>nav>li:nth-of-type(11)>a>div:first-of-type{
    background-position: 0px -2001px;
}

#aside>nav>li:nth-of-type(12)>a>div:first-of-type{
    background-position: 0px -621px;
}

#aside>nav>li:nth-of-type(13)>a>div:first-of-type{
    background-position: 0px -2277px;
}

#aside>nav>li:nth-of-type(14)>a>div:first-of-type{
    background-position: 0px -414px;
}

#aside>nav>li:nth-of-type(15)>a>div:first-of-type{
    background-position: 0px -897px;
}

#aside>nav>li:nth-of-type(16)>a>div:first-of-type{
    background-position: 0px -3105px;
}

#aside>nav>li:nth-of-type(17){
    grid-column-end: 3;
}
#aside>nav>li:nth-of-type(17)>a>div:first-of-type{
    background-position: 0px -207px;
    
}
#aside>nav>li:nth-of-type(18){
    grid-column-start: 1;
}
#aside>nav>li:nth-of-type(18)>a>div:first-of-type{
    background-position: 0px -2208px;
}

#aside>nav>li:nth-of-type(19)>a>div:first-of-type{
    background-position: 0px -69px;
}

#aside>nav>li:nth-of-type(20)>a>div:first-of-type{
    background-position: 0px -966px;
}

#aside>nav>li:nth-of-type(21)>a>div:first-of-type{
    background-position: 0px -276px;
}

#aside>nav>li:nth-of-type(22)>a>div:first-of-type{
    background-position: 0px -3036px;
}

#aside>nav>li:nth-of-type(23)>a>div:first-of-type{
    background-position: 0px -1518px;
}

#aside>nav>li:nth-of-type(24)>a>div:first-of-type{
    background-position: 0px -2139px;
}

#aside>nav>li:nth-of-type(25)>a>div:first-of-type{
    background-position: 0px -1173px;
}

#aside>nav>li:nth-of-type(26)>a>div:first-of-type{
    background-position: 0px -1794px;
}

#aside>nav>li:nth-of-type(27)>a>div:first-of-type{
    background-position: 0px -2553px;
}

#aside>nav>li:nth-of-type(28)>a>div:first-of-type{
    background-position: 0px -2346px;
}

#aside>nav>li:nth-of-type(29)>a>div:first-of-type{
    background-position: 0px -690px;
}

#aside>nav>li:nth-of-type(30)>a>div:first-of-type{
    background-position: 0px -345px;
}

#aside>nav>li:nth-of-type(31)>a>div:first-of-type{
    background-position: 0px -1725px;
}

#aside>nav>li:nth-of-type(32)>a>div:first-of-type{
    background-position: 0px -1449px;
}

#aside>nav>li:nth-of-type(33)>a>div:first-of-type{
    background-position: 0px -2415px;
}











aside::-webkit-scrollbar {
    width: 16px;
}
aside::-webkit-scrollbar-thumb {
    background: #dadce0;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    min-height: 50px;
}
aside::-webkit-scrollbar-track, .EHzcec::-webkit-scrollbar-track:hover {
    background: none;
    border: none;
}